/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 80%;
  margin-bottom: 1rem;
}

.accordionBtn {
  width: 100%;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 1.2rem;
  text-align: center;
  border: none;
  outline: none;
  transition: background 0.4s ease-in-out;
  border-radius: 20px;
  font-weight: bold;
  font-size: 2vmin;
  ;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordionBtn:hover {
  background: #a2d2ff;
}

.active {
  border-radius: 20px 20px 0 0;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1rem;
  background-color: white;
  display: none;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  text-align: justify;
  font-size: 1.8vmin;
}

.panelActive {
    display: block;
}