.reset_btn {
    background-color: #ffafcc;
    border: 2px solid #812144;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
}

.reset_btn:hover {
    background-color: #f04181;
}

ul {
    list-style-type: none !important;
    padding: 0;
    width:100%;
}

li {
    margin: 1% auto;
    width: 80%;
}

li button {
    width: 100%;
    height: auto;
    padding: 2% 3%;
    font-size: 1.8vmin;
    background-color: #a2d2ff;
    border: 2px solid #0077b6;
    border-radius: 10px;
    color: #014f79;
    font-weight: 600 !important;
}

li button:hover {
    background-color: #bde0fe;
}

/* In your global CSS or Quiz.module.css */
li button:focus-visible,
li button.keyboard-focused {
  outline: 2px solid red;
  outline-offset: 2px;
}

@media (max-width: 480px) {
  ul {
    width: 100%;
  }

  li {
    width: 90%;
    margin: 2% auto;
  }

  li button {
    font-size: 0.85rem;
    padding: 3% 4%;
  }

  .reset_btn {
    padding: 6px;
  }
}